.red {
	text-transform: uppercase;
	color: #e53935;
	font-size: 18px;
	font-weight: 700;
	text-align: left;
	letter-spacing: 1px;
	line-height: 17px;
	margin-bottom: 22px;
}

.hero-white {
	background-color: #fff;
	height: 119px;
	padding-left: 98px;
	padding-right: 211px;
	position: relative;
}

.details-products {
	padding-left: 98px;
	padding-right: 98px;
	margin-top: 98px;
	height: 651px;
}

